@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

body {
    padding: 70px 0px 0px;
    margin: 0px;
    background-color: rgb(41, 41, 41);
    background: linear-gradient(to bottom, black, orange, black);
}

.header-section {
    width: 85%;
    height: 400px;
    background: url(design/1600w-A5183UnPgkI.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    padding: 50px 50px;
    filter: grayscale(10%);
    box-shadow: 0px 3px 5px black;
    border-radius: 5px;
}

.loggo-span {
    font-size: 18px;
    color: navy;
    font-weight: 800;
    margin-left: 15px;
    margin-right: 200px;
    text-shadow: 1px 1px 2px white;
}
.bar-icon {
    font-size: 22px;
    position: absolute;
    visibility: visible;
    position: absolute;
    left: 10px;
    visibility: hidden;
}
.header-second-main {
    display: flex;
    margin-right: 60px;
    align-items: center;
    padding: 0px 30px;
}

.nav-bar {
    display: flex;
    padding: 3px 0px;
    align-items: center;
    background-color: rgba(6, 17, 26, 0.858);
    color: white;
    border: 3px solid black;
    box-shadow: 3px 3px 3px black, -3px -3px 3px black, 4px 4px 3px navy, -4px -4px 3px white;
    z-index: 5;
    position: fixed;
    top: 9px;
    left: 15px;
    right: 15px;
    border-radius: 20px;
    height: 35px;
}

.nav-links {
    margin-right: 30px;
    color: white;
    padding-top: 2px;
}
.nav-links:hover {
    border-top: 2px solid whitesmoke;
}

.hero-section-main {
    padding: 25px;
    color: navy;
    margin-top: 30px;
}
.hero-section-main button {
    padding: 4px 18px;
    margin-top: 20px;
    font-size: 15px;
    border: none;
    background-color: navy;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}
.hero-section-main button:hover {
    background-color: rgba(0, 0, 128, 0.5);
}

.hero-section {
    width: 350px;
    margin-top: 30px;
    padding: 15px 5px;
    border-radius: 10px;
    background-color: rgba(6, 7, 15, 0.799);
    box-shadow: 2px 2px 2px black;
    color: navy;
}
.hero-section span {
    font-size: 2.8em;
    font-weight: 900;
    margin-bottom: 0px;
    line-height: 48px;
    text-shadow: 5px 3px 3px navy;
}
.hero-section h2 {
    font-size: 2.0em;
    margin-top: 18px;
    line-height: 30px;
    text-shadow: 4px 2px 3px navy;
}


/*====================Styles of about us section===================*/
.about-us-main-section {
    padding: 20px;
    width: 90%;
    margin: auto;
}

.about-us-heading {
    width: 150px;
    margin: -15px auto;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    text-shadow: 5px 3px 3px navy;
}

.about-us-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.image-div {
    width: 350px;
    height: 350px;
    margin-top: -15px;
}

.image-div img {
    width: 100%;
}
.about-us-section {
    width: 45%;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-left: 10px;
    line-height: 20px;
}

/*===============End of about section styles==========*/



/*=========services and pricing START===============*/
.service-pricing-main-section {
    border-radius: 5px;
    width: 90%;
    margin: 20px auto;
    padding: 50px;
    height: auto;
    background: url(design/f3e24d37faf7feb883850faf90deec09.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(15%);
}

.pricing-services {
    border-radius: 5px;
    padding: 20px 10px;
    background-color: rgba(181, 181, 181, 0.63);
}

.pricing-heading {
    width: 350px;
    margin: 15px auto;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    text-shadow: 5px 3px 3px navy;
}


.price-container {
    padding: 30px 70px;
}

.price-service-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 20px;
    padding: 5px 30px;
}

.one-service {
    max-width: 400px;
    display: flex;
    background-color: rgba(0, 128, 128, 0.854);
    border-radius: 8px;
}


.service-img {
    width: 210px;
    max-height: 150px;
    border-radius: 50%;
}

.service-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.service-name-price {
    width: 90%; 
}

.service-name {
    font-size: 16px;
    font-weight: 600;
    color: rgb(11, 4, 2);
    padding: 10px;
}


.service-price {
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    color: rgb(11, 4, 2);
}

.service-price span {
    font-size: 20px;
    font-weight: 700;
    color: rgb(172, 38, 38);
}
/*=========services and pricing END===============*/



/*====================gallery section start==========*/
.gallery-heading {
    padding: 2px 10px;
    width: 380px;
    margin: 20px auto -10px;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 5px 3px 3px navy;
}
.short-sentences-container {
    width: 70%;
    margin: 10px auto -30px;
    padding: 10px;
}

.gallery-main-section {
    width: 90%;
    margin: 10px auto;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gallery-section {
    width: 350px;
    height: 350px;
    padding: 5px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    border-radius: 5px;
}

.gallery-section div {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    flex: none;
}

.gallery-section div img {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    cursor: pointer;
    transition: transform 0.8s;
    border-radius: 5px;
}

.gallery-section div img:hover{
    filter: grayscale(0%);
    transform: scale(1.2, 1.2);
}


.gallery-main-section button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 22px;
    border: none;
    background-color: navy;
    margin-left: 10px;
    margin-right: 10px;
}
.gallery-main-section button:hover {
    background-color: hsl(240, 68%, 44%);
    cursor: pointer;
}


.gallery-section::-webkit-scrollbar {
    display: none;
}
/*=====================Gallery section ends==============*/


/*====================Appointment section styling start===================*/
.appointment-main-section {
    width: 90%;
    margin: 20px auto;
}
.appointment-heading {
    width: 300px;
    margin: 15px auto;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 5px 3px 3px navy;
}

.inside-sentences {
    width: 70%;
    margin: 10px auto;
}

.reschedule {
    font-weight: 700;
    text-shadow: 2px 2px 3px navy, 3px 3px 3px red, -2px 0px 3px green;
}

.appointment-form-section {
    width: 80%;
    margin: 8px auto;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(41, 41, 41), tomato, rgb(41, 41, 41));
    box-shadow: 3px 1px 3px orangered, -3px -1px 3px orangered;
}

.appointment-main-section input {
    padding: 8px 13px;
    font-size: 15px;
    font-weight: 600;
    color: whitesmoke;
    width: 250px;
    margin-top: 10px;   
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 128, 0.281);
}


select {
    width: 280px;
    padding: 8px 13px;
    font-size: 15px;
    font-weight: 600;
    color: whitesmoke;
    margin-top: 10px;
    background-color: rgba(0, 0, 128, 0.281);
    border: none;
}
option {
    color: whitesmoke;
    background-color: rgba(0, 0, 128, 0.281);
    font-weight: 500;
    font-size: 15px;
}

.appointment-form-section button {
    width: 279px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(6, 6, 62);
    box-shadow: 2px 2px 3px black;
}

.appointment-form-section button:hover {
    background-color: rgba(0, 0, 128, 0.646);
}

::placeholder {
    color: black;
    color: whitesmoke;
}
/*==================Appointment styling Ends=====================*/
/*===================================================*/


/*==================Footer styles==============*/

footer {
    margin-top: 80px;

    background-color: rgba(6, 17, 26, 0.858);
    box-shadow: 3px 3px 3px black, -3px -3px 3px black, 4px 4px 3px navy, -4px -4px 3px white;
}

footer div {
    width: 70%;
    margin: auto;
}

footer div p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 2px 2px 3px navy, 3px 3px 3px red, -2px 0px 3px green;
    background-color: ;
}

footer div ul {
    margin-top: -5px;
    margin-bottom: 5px;
    font-weight: 600;

}
/*=================Footer styles Ends==========*/

@media(max-width: 1250px){
    .loggo-span {
        font-size: 18px;
        color: navy;
        font-weight: 800;
        margin-left: 65px;
    }

    .price-container {
        padding: 30px;
    }
}

@media(max-width: 1000px){
    /*====================Services main section==================*/
    .services-main-section {
        padding: 10px 20px;
        width: 90%;
        padding-bottom: 50px;
        margin: 50px auto;
        width: 90%;
    }

    .services-container {
        padding: 10px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 30px;
        column-gap: 20px;
    }

    .per-service {
        padding: 4px;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        box-shadow: 2px 2px 3px rgb(148, 148, 148);
    }

    .price-container {
        padding: 5px;
    }

    .service-pricing-main-section {
        padding: 30px 20px;
    }

    .pricing-services {
        border-radius: 5px;
        padding: 20px 8px;
    }

    .price-service-grid {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
        padding: 5px 15px;
    }

    .loggo-span {
    display: none;
    }

}


@media(max-width: 870px){
    .nav-links {
        margin-right: 25px;
        color: white;
        padding-top: 2px;
        font-size: 16px;
    }

    
    .header-section {
        width: 85%;
        height: 400px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
        padding: 50px 25px;
        box-shadow: 0px 3px 5px black;
        border-radius: 5px;
    }

    .service-name {
        font-size: 15px;
        font-weight: 600;
        color: rgb(11, 4, 2);
        padding: 10px;
    }
    
    
    .service-price {
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(11, 4, 2);
    }
    
    .service-price span {
        font-size: 18px;
        font-weight: 700;
        color: rgb(172, 38, 38);
    }
}

@media(max-width: 820px){
    .nav-links {
        font-size: 14px;
    }

    .loggo-span {
        display: none;
    }

    .service-img {
        width: 150px;
        max-height: 130px;
        border-radius: 50%;
    }
    
    .service-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

@media(max-width: 777px){
    .services-container {
        padding: 10px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 30px;
        column-gap: 17px;
    }

    .hero-section-main {
         padding: 25px 15px;
         color: navy;
         margin-top: 30px;
     }
     
     .loggo-span {
        display: block;
        font-size: 16px;
        color: navy;
        font-weight: 800;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media(max-width: 700px){
    .nav-links {
        display: none;
    }
    .loggo-span {
        font-size: 18px;
        color: navy;
        font-weight: 800;
        margin-left: 150px;
    }
    .bar-icon {
        font-size: 22px;
        position: absolute;
        visibility: visible;
        position: absolute;
        left: 15px;
        visibility: visible;
    }

    .header-section {
        /*border: 4px solid red;*/
        width: 85%;
        height: 400px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
        padding: 50px 15px;
        box-shadow: 0px 3px 5px black;
        border-radius: 5px;
    }

    .services-main-section {
        /*border: 3px solid green;*/
        padding: 8px;
        width: 90%;
        margin: 30px auto;
        width: 90%;
        border-radius: 5px;
    }

    .about-us-container {
        /*border: 2px solid green;*/
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }
    
    .image-div {
        width: 350px;
        height: 350px;
        /*border: 2px solid red;*/
        margin: auto;
    }
    
    .image-div img {
        width: 100%;
    }
    .about-us-section {
        /*border: 2px solid blueviolet;*/
        width: 90%;
        padding: 7px;
        display: flex;
        align-items: center;
        font-size: 17px;
        margin: 20px auto;
    }
}

@media(max-width: 600px){

    .price-service-grid { 
        display: grid;
        grid-template-columns: auto;
        column-gap: 20px;
        row-gap: 20px;
        padding: 5px 15px;
    }
}

@media(max-width: 520px){
    .services-container {
        padding: 7px 20px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
        column-gap: 15px;
    }

    .loggo-span {
        font-size: 18px;
        color: navy;
        font-weight: 800;
        margin-left: 80px;
    }

    .about-us-container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }
}

@media(max-width: 495px){
    .services-container {
        padding: 7px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
        column-gap: 15px;
    }

    .loggo-span {
        font-size: 18px;
        color: navy;
        font-weight: 800;
        margin-left: 80px;
    }

    .hero-section-main {
         padding: 25px 5px;
         color: navy;
         margin-top: 30px;
     }
}

@media(max-width: 450px){
    .loggo-span {
        display: none;
    }
}
